@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
html,
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #2f2680 transparent; /* Firefox */
}

/* Webkit browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #2f2680;
  border-radius: 1px;
}

/* Hide scrollbars completely */
.hide-scrollbar {
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
